/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: inside;
}

ul li{
    list-style-type: none;
    color: white;
}

h2{
    font-size: 20px;
    color: white;
}

h3{
    font-size: 18px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


/* utility */
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.conteiner-center{
    margin: auto;
    width: 80%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.label{
    bottom: 20px;
    left: 0;
}

.label-red{
    background-color: red;
    color: white;
    padding: 1px 8px;
    font-family: 'Jaldi', sans-serif;
}

.label-green{
    background-color: green;
    color: white;
    padding: 1px 8px;
    margin-left: 2px;
    font-family: 'Jaldi', sans-serif;
}

.heart{
    background-color: white;
    top: 10px;
    right: 0;
    font-size: 30px;
    padding: 10px 15px;
}

.heart:hover{
    color:red;
}

/* header */
header{
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff6900;
    padding: 20px 0;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
}

.conteiner-header{
    justify-content: space-between;
}

.uomo{
    margin: 0 20px;
}

header i{
    color: white;
    margin-left: 20px;
}

/* main */
.conteiner-main{
    justify-content: space-between;
    margin-top: 120px;
    flex-wrap: wrap;
}

.conteiner-card{
    margin-bottom: 40px;
    width: calc(90% / 3);
}

.img-conteiner>img{
    display: block;
}

.img-hidden{
    position: absolute;
    top: 0;
    opacity: 0;
}

.img-hidden:hover{
    opacity: 1;
}

.brand{
    line-height: 15px;
    font-size: 15px;
    color: black;
    font-weight: 100;
}

.description{
    line-height: 18px;
    font-size: 18px;
    font-family: 'Jaldi', sans-serif;
}

.price-red{
    line-height: 15px;
    font-size: 15px;
    color: red;
}

.price-black{
    line-height: 15px;
    font-size: 15px;
    text-decoration: line-through;
}

/* footer */
footer{
    background-color: #1a1a1a;
    padding: 20px 0;
    font-family: 'Jaldi', sans-serif;
}

.conteiner-footer{
    justify-content: space-between;
}

footer i{
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.conteiner-footer .info{
    margin-right: 10px;
}
